header i {
    color: oklch(0.987 0.022 95.277);
}

html {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 33%, rgba(0,0,0,1) 95%); ;
}

body{
    font-family: "DM Mono", serif;
    font-weight: 400;
    font-style: normal;
    transition: background-color 200ms ease;
}

h1 {
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
  }

h2 {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
  }

h4 {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}

h6 {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}

strong {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}

.blinkoff {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

a {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}

#contact i {
  color: rgba(30,41,59,1);
}

#footer {
  background-color: transparent;
}

footer i {
  color: oklch(0.987 0.022 95.277);
}

