header i {
    color: oklch(0.987 0.022 95.277);
}

footer i {
    color: oklch(0.987 0.022 95.277);
}

h1 {
    font-family: "Cutive Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

  h4 {
    font-family: "Cutive Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

  strong {
    font-family: "Cutive Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

  a {
    font-family: "Cutive Mono", serif;
    font-weight: 400;
    font-style: normal;
  }

html {
  background: rgb(255,251,235);
  background: linear-gradient(90deg, rgba(255,251,235,0.96) 44%, rgba(254,243,199,0.96) 100%), url(Images/grunge.jpg); 
  background-size: 100% 100%;
}

